<h1>Lessons</h1>
<h2>Students</h2>
<div>
    <% currentUser.students.forEach((student, index) => { %>
        <input type="radio" class="student" name="student" value="<%= student._id %>" <%= index === 0 ? "checked" : "" %>><%= student.fullName %>
    <% }) %>
</div>

    <div class="lesson-list">
    </div>

<script src="/javascripts/lesson.js"></script>
